html,
body {
    height: 100%;
    overflow: hidden;

}

#animationbutton{
	position: absolute;
	top: 0;
}
.ad-Container {
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /*background-color: #050A42;*/
    background-image: url("../images/stonebg.png");
    background-repeat: no-repeat;
}